<!DOCTYPE html>
<html lang="en">
<body>
        <h1>ITP For-Friend Student List</h1>
        <% students.forEach(function(student) {  %>
		<h2><%= students.FirstName %><h2>
		<h3><%= students.LastName %></h3>
        <% }); %>
</body>
</html>