<html>
<body>
  
 <title>NYU ITP Foreign-Friend Connection Login</title>
 <link rel="stylesheet" type="text/css" href="form.css">
   
 <h3>NYU ITP Foreign-Friend Connection Login</h3>

 
<table align="center" cellpadding = "10">
<form action="/login" method="POST">
			
			
			
<tr>

<td>Student Username:</td>
<td><input type="text" name="Student_Username"/>
</td>
</tr>

<tr>
<td>Choose Password:</td>
<td><input type="text" name="Choose_Password"/>
</td>
</tr>
						
<tr>
<td colspan="2" align="center">
<input type="submit" name="submit" value="Submit" />
<input type="reset" value="Reset">
<a href="/registration">Not registered?</a>
</td>
</tr>
							
</form>		
</body>
</html>
