<html>
<body>

<title>NYU ITP Foreign-Friend Connection</title>
<link rel="stylesheet" type="text/css" href="form.css">
<h3>NYU ITP Foreign-Friend Connection</h3>
		
		
		
Welcome back to ITP Foreign-Friend Connection! <%= username %> Last log in <%= lastlogin %>
		
<br />
<a href="/logout">Logout</a>



</body>
</html>