<html>

  <title>NYU ITP Foreign-Friend Connection Registration Form</title>
 <link rel="stylesheet" type="text/css" href="form.css">
 <body
    <h3>NYU ITP For-Friend Registration Form</h3>

 
<table align="center" cellpadding = "10">
 
  
			<form action="/register" method="POST">
<tr>

<td>Student Username:</td>
<td><input type="text" name="Student_Username"/>
</td>
</tr>

<tr>
<td>Choose Password:</td>
<td><input type="text" name="Choose_Password"/>

</td>
</tr>

<tr>
<td>ITP Grad Year</td>
 
<td>
<select name="ITP Grad Year" id="ITP_Grad_Year">
<option value="1">1</option>
<option value="2">2</option>

</select>
 

</td>
</tr>
  <tr>
<td>Time Available</td>
 
<td>
<select name="Time Available" id="Time_Available">
<option value="9">9am</option>
<option value="10">10am</option>
<option value="11">11am</option>
<option value="12">12am</option>
<option value="1">1pm</option>
<option value="2">2pm</option>
<option value="3">3pm</option>
<option value="4">4pm</option>
<option value="5">5pm</option>
<option value="6">6pm</option>

</select>
 
</td>
</tr>
 
 
<tr>
<td>NYU Email ID</td>
<td><input type="text" name="Email_Id" maxlength="100" /></td>
</tr>
 
<tr>
<td>Gender</td>
<td>
Male <input type="radio" name="Gender" value="Male" />
Female <input type="radio" name="Gender" value="Female" />
</td>
</tr>
 
 
<tr>
<td>Country of Origin</td>
<td><input type="text" name="Country_of_Origin" maxlength="50"/>
</td>
</tr>
</tr>
 
 
<tr>
<td colspan="2" align="center">
<input type="submit" name="submit" value="Submit" />
<input type="reset" value="Reset">
</td>
</tr>
</form>
</html>
						
